<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/to_do_react_mandatory_1/to_do_react/src/index.css">
</head>
<body>
    {% include navigation.html %}
    <div class="doc_content_contatiner">
        <h1>{{ page.title }}</h1>
        {{ content }}
    </div>
    {% include footer.html %}
</body>
</html>

